.playerList {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap; /* allow wrapping if too many cards */
  gap: 16px; /* spacing between cards */
  justify-content: center; /* center the row */
}

.playerListItem {
  margin: 0;
}
