.h1 {
    color: inherit;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(76, 76, 76);
  color: inherit; 
  margin-top: 28px;
  min-width: 200px;
  width: 90%;
  max-width: 400px;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  border: 2px solid #a2a2a2;
  border-radius: 8px;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #949494; /* Optional: hover effect */
}