.container {
  background-color: var(--container);
  margin: 0 auto;
  max-width: 1400px;
  min-height: 70vh;
  height: auto;
  justify-content: center;
  /* align-items: center; */
  margin-top: 100px;
  padding: 0px;
  color: var(--black);
}

.container * {
  color: inherit;
}
