.imageBase {
  display: inline-block;
  width: 160px;
  height: 160px;
  transition: transform 0.5s ease-in-out;
}

.spinning {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.imageContainer {
    align-self: center;
    padding: 10%;
}